@import url('variables.css');
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80dvh;
}
#VIA-icon::before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../icons/via-icon.png");
    background-size: contain;
    margin-right: 5px;
    margin-bottom: -15px;
}
#Email-icon::before{
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../icons/mail-icon.png");
    background-size: contain;
    margin-right: 3px;
    margin-bottom: -10px;
}
#Discord-icon::before{
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../icons/discord-icon.png");
    background-size: contain;
    margin-right: 5px;
    margin-bottom: -10px;
}
#Telegram-icon::before{
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../icons/telegram-icon.png");
    background-size: contain;
    margin-bottom: -10px;
}
#Phone-icon::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../icons/phone-icon.png");
    background-size: contain;
    margin-right: 5px;
    margin-bottom: -7px;
}