@import url('variables.css');
html, body {
    height: 100%;
    margin: 0;
}
body{
    font-family: Inter, "Segoe UI", Helvetica, Arial, sans-serif;
    color: var(--regular-white);
    font-weight: 500;
    
    background: var(--bg-color);
    background-attachment: fixed;
    min-height: 100dvh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
html {
  scrollbar-width: none; /*To remove scrollbar in Firefox because of its engine Gecko and most of modern browsers*/
}
body::-webkit-scrollbar {
  display: none; /*For old versions of Chrome, Safari, Edge, Opera*/
}
nav a{
    color: var(--regular-white);
    padding: clamp(0.375rem, 1.5vw, 1rem) clamp(0.75rem, 3vw, 1.7rem);
}
nav ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
}
nav a.current {
    display: inline-block;
    background-color: var(--selection-color);
    border-radius: 6px;
}
nav a:hover {
    display: inline-block;
    border-radius: 6px;
    background-color: var(--selection-color);
    transform: translateY(-2px);
    transition: /* I stole these lines for transition from another guy making his website. However, I believe that there is no stolen code */
        background-color 0.2s ease,
        transform 0.2s ease;
}
a{
    text-decoration: none;
}
main * a{
    color: var(--regular-link);
}
main * a:hover{
    color: var(--regular-active-link);
}
h2{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}
p{
    font-weight: 490;
    font-size: 1rem;
}
@media(width >= 768px){
    h2{
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }
    p{
        font-size: 1.3rem;
    }
}
@media(width >= 1024px){
    h2{
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }
    p{
        font-size: 1.2rem;
    }
}
.hidden-heading{ /* I hope this block of code was the first and the last block of code I fully copied from AI */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* Just wanna boast: there were no CSS validation errors when I tried to validate. Anyways, I don't think that my CSS blocks are well-structured */